<% require 'date' %>
<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>
  <%= 'The date is '%>
  <%= p Date.today.strftime("%A, %B %d, %Y") %>
  
    
  </body>
</html>